<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.81.0" targetFramework="native" />
  <package id="FFmpeg.Nightly" version="20200831.1.0" targetFramework="native" />
  <package id="v8.redist-v143-x64" version="10.0.139.9" targetFramework="native" />
  <package id="v8-v143-x64" version="10.0.139.9" targetFramework="native" />
  <package id="zeroc.openssl.v143" version="1.1.1.2" targetFramework="native" />
</packages>